.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-one {
    order: 3;
    width: 57%;
}

.section-one_title {
    order: 1;
    width: 57%;
    border-bottom: 0;
    padding-bottom: 30px;
    border-bottom: 0;
    margin: 0;
}   

.section-two {
    order: 4;
    border: 0;
    width: 43%;
    padding: 10px;
    border-left: 2px solid #ffcd00;
}

.section-two_title {
    order: 2;
    margin: 0 auto;
    width: 43%;
    min-width: 0;
    border: 0;
    padding: 15px;
    padding-bottom: 30px;
    margin: 0;
    border-left: 2px solid #ffcd00;
}

.products {
    width:90%;
    max-width: 250px;   
}


